<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="account">
	<insert id="append_account">
		insert into user_account(cno,userid,username,account_bank,account_passwd,account_number,buy_passwd,primary_kard)
		values(seq_cno.nextval,#{userid},#{username},#{account_bank},#{account_passwd},#{account_number},#{buy_passwd},#{primary_kard})
	</insert>
	<select id="account_list" resultType="com.example.test.model.account.dto.AccountDTO">
		select * from user_account where userid=#{userid}
	</select>
	<update id="buy_fund">
		update user_account set account_money=account_money-#{price} where cno=#{cno}
	</update>
	<select id="view" resultType="com.example.test.model.account.dto.AccountDTO">
		select * from user_account where cno=#{cno}
	</select>
</mapper>