<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fund">
	<!-- 조건 : 승인된 프로젝트, 오픈예정일이 현재시간보다 이후, 5개 -->
	<!-- 좋아요 순 -->
	<select id="likeList" resultType="com.example.test.model.fund.dto.FundDTO">
		select A.* from (select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt, good, approve, title_img,ceil(start_date-sysdate) open_date,p_detail_division
		from fund order by good desc) A 
		where approve=1 and open_date &lt; 0 
	</select>
	<select id="viewcntList" resultType="com.example.test.model.fund.dto.FundDTO">
		select A.* from (select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt, good, approve, title_img,ceil(start_date-sysdate) open_date,p_detail_division
		from fund order by viewcnt desc) A 
		where approve=1 and open_date &lt; 0  
	</select>
	<select id="todayList" resultType="com.example.test.model.fund.dto.FundDTO">
		select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt,good, approve, title_img,p_detail_division
		from fund where approve=1 and (start_date-sysdate) &lt; 0 
		and TO_CHAR(start_date,'YYYYMMDD') = TO_CHAR(SYSDATE,'YYYYMMDD')
		order by progress desc
	</select>
	<select id="supportList" resultType="com.example.test.model.fund.dto.FundDTO">
		select A.* from (select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt, good, approve, title_img, ceil(start_date-sysdate) open_date,p_detail_division
		from fund order by support desc) A 
		where approve=1 and open_date &lt; 0 
	</select>
	<select id="progresstList" resultType="com.example.test.model.fund.dto.FundDTO">
		select A.* from (select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt, good, approve, title_img, ceil(start_date-sysdate) open_date,p_detail_division
		from fund order by progress desc) A 
		where approve=1 and open_date &lt; 0  
	</select>
	<select id="investList" resultType="com.example.test.model.fund.dto.FundDTO">
		select A.* from (select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt, good, approve, title_img, ceil(start_date-sysdate) open_date,p_detail_division
		from fund order by progress desc) A 
		where approve=1 and open_date &lt;= 0 and s_division='채권' 
	</select>
	<select id="stockList" resultType="com.example.test.model.fund.dto.FundDTO">
		select A.* from (select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt, good, approve, title_img, ceil(start_date-sysdate) open_date,p_detail_division
		from fund order by progress desc) A 
		where approve=1 and open_date &lt;= 0 and s_division='주식'
	</select>
	<select id="openList" resultType="com.example.test.model.fund.dto.FundDTO">
		select A.* from (select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt, good, approve, title_img, ceil(start_date-sysdate) open_date,p_detail_division
		from fund order by progress desc) A 
		where approve=1 and open_date > 0 
	</select>
	<select id="open_stockList" resultType="com.example.test.model.fund.dto.FundDTO">
		select A.* from (select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt, good, approve, title_img, ceil(start_date-sysdate) open_date,p_detail_division
		from fund order by progress desc) A 
		where approve=1 and open_date = 0 and s_division='주식'
	</select>
	<select id="open_investList" resultType="com.example.test.model.fund.dto.FundDTO">
		select A.* from (select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt, good, approve, title_img, ceil(start_date-sysdate) open_date,p_detail_division
		from fund order by progress desc) A 
		where approve=1 and open_date = 0 and s_division='채권'
	</select>
	<update id="increateViewcnt">
		update fund set viewcnt=viewcnt+1 where bno=#{bno}
	</update>
	<select id="view" resultType="com.example.test.model.fund.dto.FundDTO">
		select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,title_img,title_img2,title_img3,
		(end_date-sysdate) now_date, start_date,(now_fund/max_fund*100) progress,viewcnt,good, limit, ceil(end_date-sysdate) open_date, approve,p_detail_division,
		content_point_title,content_point_img,content_point, content_business_title,content_business_img,content_business,sub_title,
		content_detail_title,content_detail_img,content_detail,margin_date,margin
		from fund where bno=#{bno} 
	</select>
	<update id="like">
		update fund set good=good+1 where bno=#{bno}
	</update>
	<update id="unlike">
		update fund set good=good-1 where bno=#{bno}
	</update>
	<select id="like_fund" resultType="com.example.test.model.fund.dto.FundDTO" >
		select bno,project_name,p_division,s_division,title,max_fund,end_date,company_name,unit,min_fund,now_fund, support,			
		(end_date-sysdate) now_date, start_date,progress,viewcnt, good, approve, title_img, ceil(start_date-sysdate) open_date,p_detail_division
		from fund
		<choose>  
			<when test='bno_list != null'>
				where bno in (${bno_list})
			</when>
			<otherwise>
				where bno in (0)
			</otherwise>
		</choose>		
	</select>
	<update id="buy_fund">
		update fund set now_fund=now_fund+#{now_fund}, support=support+1, progress=((now_fund+#{now_fund})/max_fund*100)
		where bno=#{bno}
	</update>
</mapper>